@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: black;
    /* border: 2px solid red; */
}
#mail{
    font-size: 10px;
    text-align: center;
    color: wheat;
}
.main{
    height: max-content;
    display: flex;
    flex-direction: row;
}

.sidebar{
    height: 100vh;
    width: auto;
    background: linear-gradient(#c9cccf,#545960, rgb(18, 17, 17));
    /* background: linear-gradient(#c6ffdd, #fbd786, #f7797d); */
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 999;
}
.burger{
    height: 4vh;
    visibility: hidden;
    float: right;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 2px solid black;
    border-radius: 12px;
}
.quick h1{
    display: flex;
}
.burger img{
    height: 100%;
    width: 100%;
}
.contactInfo{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 1, 1);
    gap: 1rem;
    background-color: rgba(166, 153, 153, 0.737);
}
.image{
    height: 10vh;
    width: 6vw;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgb(41, 40, 40);
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-evenly;
}
.skills .draw,.draw2,.draw3{
    width: 18vw;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.draw p{
    width: 90%;
    color: rgb(3, 2, 2);
    text-align: center;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(#f16524,#E44D26);
    animation: first 1s linear;
}
.draw2 p{
    width: 70%;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 0 10px 10px 0;
    background-color:  #254BDD;
    animation: second 1s linear;
}
.draw3 p{
    width: 50%;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 0 10px 10px 0;
    background-color:  #DAB92D;
    animation: third 1s linear;
}
.draw span,.draw2 span,.draw3 span{
    color: rgb(166, 153, 153);
}
.interest{
    color: rgb(11, 11, 11);
    border-top: 5px solid rgb(0, 0, 0);
    width: 18vw;
    padding: 10px;
}
.interest h1{
    text-align: center;
}
.interestBox{
    display: flex;
    color: rgb(168, 154, 154);
    flex-direction: column;
    gap: 1rem;
}
.java,.cpp,.mL{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
}
.java h3:hover,.cpp h3:hover,.mL h3:hover{
    cursor: pointer;
    border-bottom: 5px solid white;
}
.java i{
    font-size: 50px;
    color: orangered;
}
.cpp .image{
    height: 30%;
    width: 30%;
    margin-right: 20px;
}
.mL .image{
    height: 30%;
    width: 30%;
    margin-left: 9px;
}
.copyright{
    height: 15vh;
    color: rgb(168, 154, 154);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}
#insta{
   color: white;
}
#whs{
    color: #4DCB5B;
}
#twitter{
    color: #1D9BF0;
}
#link{
    color:#0077B5;
}
.mainContent{
    display: block;
    width: 79.5vw;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2px;
    height: 100vh;
}
.quick{
    /* background-color: whitesmoke; */
    background: url(https://i.pinimg.com/736x/52/18/46/5218466c143c7799a8fcf2a443770eb3.jpg);
    background-size: cover;
    color: black;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 500px wheat;
}
.quick h1{
    border-bottom: 4px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.provide p{
    font-size: smaller;
}
.cards{
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* overflow-y: scroll; */
    background-color: white;
}
.footer2{
    display: none;
}
.card1,.card2,.card3,.card4{
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    color: black;
    width: 17vw;
    height: 23vh;
    /* border-radius: 10px; */
    box-shadow: 1px 1px 50px rgb(177, 173, 173);
}

.card1 h2,.card2 h2,.card3 h2,.card4 h2{
    border-bottom: 2px solid rgb(63, 62, 62);
    /* border-top: 2px solid black; */
    /* border-radius: 10px; */
    font-size: 21px;
    text-align: center;
}
.dsSkill p{
    font-size: smaller;
}
.Images{
    height: 80vh;
    width: 44vw;
}
.Images img{
    height: 100%;
    width: 100%;
}
.infoaboutSkills{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    padding: 10px 0;
    /* width: 43vw; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 0, 0);
    /* background: url(https://png.pngtree.com/png-clipart/20200701/original/pngtree-children-s-software-programming-png-image_5401259.jpg);
    background-size: cover; */
}
.information{
    background: rgb(255, 255, 255);
    width: 100%;
}
.information p,h2,h3{
    margin-right: 10px;
    float: right;
    clear: both;
}
.cppSkill,.javaSkill,.webSkill,.dsSkill{
    background-color: wheat;
    width: 100%;
    color: rgb(250, 249, 249);
    display: flex;
}
.cppSkill span{
    color: black;
}
.javaSkill span{
    color: black;
}
.webSkill span{
    color: black;
}
.dsSkill span{
    color: black;
}
.cppSkill p{
    width: 50%;
    background-color: black;
    animation: fourth 2s linear;
}
.javaSkill p{
    width: 30%;
    background-color: black;
    animation: fifth 2s linear;
}
.webSkill p{
    width: 60%;
    background-color: black;
    animation: sixth 2s linear;
}
.dsSkill p{
    width: 30%;
    background-color: black;
    animation: seventh 2s linear;
}

.quick{
    width: 17vw;
    /* animation: box1 1s linear; */
    height: 99vh;
}
.cards{
    height: 99vh;
    width: 19vw;
    /* animation: box2 1s linear; */
}
.infoaboutSkills{
    height: auto;
}
@keyframes box1 {
    0%{
        height: 0;
    }
    50%{
        height: 50vh;
    }
    100%{
        height: 100vh;
    }
}
/* @keyframes box2 {
    0%{
        width: 60vw;
    }
    50%{
        width: 40vw;
    }
    100%{
        width: 17vw;
    }
} */
@keyframes seventh {
    0%{
        width: 0%;
    }
    50%{
        width: 15%;
    }
    100%{
        width: 30%;
    }
}
@keyframes sixth {
    0%{
        width: 0%;
    }
    50%{
        width: 30%;
    }
    100%{
        width: 60%;
    }
}
@keyframes fifth {
    0%{
        width: 0%;
    }
    50%{
        width: 15%;
    }
    100%{
        width: 30%;
    }
}
@keyframes fourth {
    0%{
        width: 0%;
    }
    50%{
        width: 25%;
    }
    100%{
        width: 50%;
    }
}
@keyframes first {
    0%{
        width: 0%;
    }
    50%{
        width: 45%;
    }
    100%{
        width: 90%;
    }
    
}
@keyframes second {
    0%{
        width: 0%;
    }
    50%{
        width: 35%;
    }
    100%{
        width: 70%;
    }
}
@keyframes third {
    0%{
        width: 0%;
    }
    50%{
        width: 25%;
    }
    100%{
        width: 50%;
    }
}
/* @media screen and (max-width:1371px) {
    .sidebar{
        width: 22vw;
    }
    .mainContent{
        width: 78vw;
    }
}
@media screen and (max-width:1216px) {
    .sidebar{
        width: 25vw;
    }
    .mainContent{
        width: 75vw;
    }
}

@media screen and (max-width:1190px) {
    .quick h1{
        font-size: 22px;
    }
    .quick{
        width: 14.5vw;
    }
    .cards{
        width: 19.5vw;
    }
} */
@media screen and (max-width:1220px) {
    .card1,.card2,.card3,.card4{
        font-size: small;
    }
}
@media screen and (max-width:1024px) {

    .main{
        padding: 4px;
        background-color: black;
    }
    .mainContent{
       display: grid;
       grid-template-columns: none;
       gap: 1rem;
       grid-template-rows: 1fr 2fr 1fr;
    }
    .quick{
        height: 23vh;
        width: 69vw;
        /* animation: new 1s linear; */
    }
    @keyframes new {
        0%{
            height: 0;
        }
        50%{
            height: 12vh;
        }
        100%{
            height: 23vh;
        }
    }
    .cards{
        /* height: 20vh; */
        background-color: white;
        display: flex;
        flex-direction: row;
        width: auto;
        height: max-content;
        padding: 7px ;
        /* overflow-y: scroll; */
        /* animation: old 1s linear; */
    }
    @keyframes old {
        0%{
            height: 0;
        }
        50%{
            height: 12vh;
        }
        100%{
            height: 24vh;
        }
    }
    ::-webkit-scrollbar{
        width: 0;
    }
    .card1,.card2,.card3,.card4{
        width: 20vw;
        height: max-content;
        /* padding: auto; */
    }
    .infoaboutSkills{
        height: 50vh;
    }
    .quick,.infoaboutSkills,.cards{
        width: auto;
        height: auto;
    }
    .infoaboutSkills{
        height: auto;
    }
}
@media screen and (max-width:996px) {
    .sidebar{
        width: 25vw;
    }
    .mainContent{
        width: 75vw;
    }
    .cards{
        height: auto;
    }
}
@media screen and (max-width:879px){
    .burger{
        visibility: visible;
    }
    .sidebar{
        display: none;
        width: max-content;
        position: absolute;
    }
    .sidebar .contactInfo{
        font-size: 12px;
    }
    .contactInfo{
        height: 15%;
    }
    .contactInfo
     .image{
        width: 16vw;
        height: 12vh;
     }
     .interest{
        width: 100%;
     }
     .interest h1{
        font-size: 18px;
     }
     .interestBox{
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* border: 2px solid red; */
        font-size: 15px;
     }
     .java,.cpp,.mL{
         border: 2px solid white;
        
     }
     .java i{
        font-size: 25px;
        padding-bottom: 10px;
     }
     .cpp .image{
        height: 40px;
    }
    .cpp .image img{
        height: 100%;
        width: 100%;
        /* padding-right: 10px; */
     }
     .copyright i{
        padding-bottom: 20px;
     }
     .copyright p{
        font-size: smaller;
     }
     #mail{
        font-size: 7px;
     }
     .mL h3{
        font-size: 16px;
        padding-left: 10px;
     }
     .mL .image{
        width: 20px;
        height: 30px;
     }
     .skills .draw,.draw2,.draw3{
        width: 100%;
        font-size: 11px;
    }
    .draw3{
        margin-bottom: 10px;
    }
    .quick h1{
        font-size: 19px;
    }
    .quick p{
        font-size: 12px;
    }
    .cards h2{
        font-size: 14px;
    }
    .cards p{
        font-size: 12px;
    }
    .cards span{
        font-size: 12px;
    }
    .mainContent{
        width: 100vw;
    }
    .quick,.cards,.infoaboutSkills{
        width: auto;
    }
    .quick{
        display: flex;
        gap: 0;
    }
    .quick h1{
        font-size: 30px;
    }
    .provide p{
        font-size: 20px;
    }
    .burger{
        margin: 10px;
        width: 5vw;
    }
    .main{
        height: max-content;
    }
    .cards{
        height: 42vh;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /* animation: ip 2s linear; */
    }
    @keyframes ip {
        0%{
            height: 0vh;
        }
        50%{
            height: 21vh;
        }
        100%{
            height: 42vh;
        }
    }
    .card1,.card2,.card3,.card4{
        width: 40vw;
    }

}
@media screen and (max-width:771px) {
    .main{
        height: 100vh;
    }
    
}
@media screen and (max-width:562px) {
    .quick h1{
        font-size: 25px;
    }
    .card1,.card2,.card3,.card4{
        width: max-content;
    }
    .sidebar{
        width: max-content;
    }
    .main{
        height: 100vh;
    }
    .cards{
        height: 42vh;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /* animation: ip 2s linear; */
    }
    @keyframes ip {
        0%{
            height: 0vh;
        }
        50%{
            height: 21vh;
        }
        100%{
            height: 42vh;
        }
    }
    .card1,.card2,.card3,.card4{
        width: 40vw;
    }
}
/* veryimp */
@media screen and (max-width:516px) {
    .main{
        padding: 20px;
    }
    .mainContent{
        height:auto;
        padding: 2px;
    }
    .burger{
        visibility: visible;
        width: 10vw;
    }
    .quick{
        background-color: wheat;
        /* animation: jo 2s linear; */
    }
    @keyframes jo {
        0%{
            height: 20%;
        }
        50%{
            height: 50%;
        }
        100%{
            height: 100%;
        }
    }
    .infoaboutSkills{
        color: black;
        height: 40vh;
    }
    .information p,.information h2, .information h3{
        font-size: 16px;
        color: #0077B5;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: max-content;
        padding: 10px;
        /* border: 2px solid red; */
        gap: 1rem;
        /* animation: ho 2s linear; */
    }
    @keyframes ho {
        0%{
            height: 0;
        }
        50%{
            height: 35vh;
        }
        100%{
            height: 70vh;
        }
    }
    .card1,.card2,.card3,.card4{
        width: auto;
        height: 20vh;
        display: flex;
        padding: 10px;
        gap: 1rem;
        justify-content: center;
    }
    .card1 h2,.card2 h2,.card3 h2,.card4 h2{
        color: #0077B5;
    }
    .sidebar{
        animation: side .3s linear;
        height: 161vh;
        padding: 10px;
    }
    .quick h1{
        font-size: 20px;
    }
    .provide p{
        font-size: smaller;
    }
    .quick {
        width: auto;
        height: auto;
    }
    @keyframes side {
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
        }
        
    }
    .footer2{
        display: block;
        color: rgb(254, 254, 254);
        text-align: center;
        background-color: black;
    }
    .footer{
        display: none;
    }
}
@media screen and (max-width:358px) {
    .provide p{
        font-size: 16px;
    }
    .main{  
        height: 123vh;
        background-color: black;
    }
}
